<!DOCTYPE html> 
<html>
<head>
    <title>BearApps</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
</head> 

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<a class="brand" href="index.html">BearApps</a>

			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="my-apps.html">My Apps</a></li>
					<li><a href="browse.html">Browse Apps</a></li>
				</ul>
			</div>
		</div>
    </div>
  </div>

<body>
</body>
</html>