{% extends "base.html" %}

{% block nav %}
<li class="active"><a href="../admin/">Admin</a></li>
{% endblock %}

{% block title %}
<h1>ADMIN</h1><br /><br />
{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span12">
          <!-- <ul id="manage-tabs" class="nav nav-tabs">
            <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
            <li><a href="#groups" data-toggle="tab">By Group</a></li>
            <li><a href="#chartstrings" data-toggle="tab">By Chartstring</a></li>
          </ul> -->

          <div class="tab-content">
            <div class="tab-pane active" id="summary">

              <table class="table table-striped tablesorter" id="myTable" >
                <thead>
                  <tr>
                    <th>Chartstring</th>
                    <th>Username</th>
                    <th>Group</th>
                    <th>Description</th>
		                <th>Date Approved</th>
                    <th>Price</th>
                    <th>RSO</th>
                  </tr>
                </thead>
                <tbody>

                  {% for user_info, user_apps in user_summary %}  
                    {% for app in user_apps %}  
                      {% if app.status == 'APPROVED' %}     
                      <tr>
                        <td>{{ app.chartstring }}</td>
                        <td>{{ user_info.name }}</td>
                        <td>{{ app.group.name }}</td>
                        <td>{{ app.app.app_name }}</td>
	                      <td>{{ app.date }}</td>
                        <td>${{ app.app.price }}</td>
                        <td>{{ app.chartstring.manager }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                </tbody>
              </table>

              <table class="table table-striped tablesorter" id="chartTable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Chartstring</th>
                  </tr>
                </thead>
                <tbody>
                  {% for chart in chartstrings %}
                    <tr>
                      <td>{{ chart.nickname }}</td>
                      <td>{{ chart.chartstring }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>   

        </div>
    </div>


{% endblock %}
{% block javascript %}
<script src="../static/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(document).ready(function() 
  { 
    $("#myTable").tablesorter();
    $("#chartTable").tablesorter(); 
  }); 
</script>
{% endblock %}


