{% extends "base.html" %}
{% load dict_lookup %}

{% block nav %}
{% if usertype == "GENERAL" %} 
  <li class="active"><a href="../browse/">Browse Apps</a></li>
  <li><a href="../my-apps/">My Apps</a></li>
{% endif %}
{% if usertype == "MANAGER" %}
  <li><a href="../manage/">Manage Licenses</a></li>
  <li class="active"><a href="../browse/">Browse Apps</a></li>
  <li><a href="../my-apps/">My Apps</a></li>
{% endif %}
{% endblock %}

{% block title %}
<h1>BROWSE APPS</h1><br>
<h2>Browse, request and check the status of all available applications below.</h2>
<!-- <div class="pull-right">
  <form class="form-search">
    <input type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </form>
</div> -->
{% endblock %}

{% block apps %}
  <div class="row-fluid">
    <div class="span12">
      <div class="well hero-unit">
        <div class="row-fluid">

{% for app, state in app_display.items %}
<a href="#{{ app }}"
   data-toggle="modal"
   class="{{ state }}"
   {% if 'app-btn-' in state %} alt="The status of {{ app }} is avialable to be requested."
   {% elif 'requested-btn-' in state %} alt="The status of {{ app }} is being requested."
   {% elif 'downloadable-btn-' in state %} alt="The status of {{ app }} is now ready to be downloaded."
   (% else %} alt="The status of {{ app }} is not regocnizable."
   {% endif %}>
   {{ app_info|lookup:app }}</a>
{% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% for app, state in app_display.items %}
{% with info=app_info|lookup:app %}
  <div class="modal fade hide" id="{{ app }}">
    <div class="modal-header">
      {% if 'app-btn' in state %}
      <div class="request-text">
        <p>request from group:</p>
      </div>
      {% endif %}
      <form method="post" action="/browse/">
        {% csrf_token %}
        <input type="hidden" name="app" value="{{ app }}">
        {% if 'app-btn' in state %}
        <select name="mygroup" class="request-selection">
            {% for group in groups %}
              <option value="{{ group.name }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <input type="submit"
               value={% if 'app-btn' in state %}"REQUEST"
			         {% elif 'requested-btn' in state %}"ALREADY REQUESTED"
					 {% elif 'downloadable-btn' in state %}"DOWNLOADABLE"
					 {% endif %}
               class="request-btn" {% if 'requested-btn' in state or 'downloadable-btn' in state %}DISABLED{% endif %}>
      </form>
      	<button type="button" class="close" data-dismiss="modal">×</button>
      	<h3><img src="../static/img/matlab-icon-small.png" />{{ info.app_name }}</h3>
  	</div>
  	<div class="modal-body">
  		<ul id="{{ app }}-tabs" class="nav nav-tabs">
  			<li class="active">
  				<a href="#descrip-{{ app }}" data-toggle="tab">Description</a>
  			</li>
  			<li>
  				<a href="#requirements-{{ app }}" data-toggle="tab">System Requirements</a>
  			</li>
  			<li>
  				<a href="#obtain-{{ app }}" data-toggle="tab">How to Obtain MatLab</a>
  			</li>
  		</ul>
  		<div class="tab-content" id="{{ app }}-tabs-content">
  			<div class="tab-pane fade active in" id="descrip-{{ app }}">
          <h2>Description</h2>
          <p> {{ info.description }} </p>
  			</div>

  			<div class="tab-pane fade" id="requirements-{{app}}">
  		  		<h2>System Requirements</h2>
      				<p>Windows: {{ info.windows }}</p>
              <p>Linux: {{ info.linux }}</p>
              <p>Mac: {{ info.mac }}</p>
  			</div>
        <div class="tab-pane fade" id="obtain-{{app}}">
    	  		<h2>How to Obtain {{ info.app_name }}</h2>
    			<p>{{ info.obtain }}</p>
    		</div>
  	  </div>
    </div>
  </div>
{% endwith %}
{% endfor %}

{% endblock %}

{% block javascript %}
<script>
{% for app, state in app_display.items %}
 $('{{ app }}-tabs').click(function (e) {
   e.preventDefault();
   $(this).tab('show');
 })
{% endfor %}
</script>
{% endblock %}
