<!DOCTYPE html>
<html>
<head>
    <title>BearApps</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    <style type="text/css" media="screen">
      body{padding:15%;}
      .hero-unit{opacity:50%;}
    </style>
</head>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </a>

      <a class="brand" href="index.html">BearApps</a>

      <div class="nav-collapse">

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="hero-unit">
    <h1>Log in to BearApps</h1>
    <p>Use your CalNet ID and password to authenticate.</p>
    <p><a href="my-apps/" class="btn btn-primary btn-large">Authenticate</a></p>
  </div>
</div>

<body>
</body>
</html>
