<!DOCTYPE html>
<html>
<head>
    <title>BearApps</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
</head>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      </a>

      <a class="brand" href="index.html">BearApps</a>

      <div class="nav-collapse">

      </div>
    </div>
  </div>
</div>

<div class="container-fluid content">
  <div class="well hero-unit">
    <h1 style="line-height: 100px">LOG IN TO BEARAPPS</h1>
    <p>Use your CalNet ID and password to authenticate.</p>
    <form class="well form">
      <label>Username</label>
      <input type="text" class="input-medium"></input>
      <label>Password</label>
      <input type="password" class="input-medium"></input>
      <p>
        <a class="btn btn-primary" href="browse/">Authenticate</a>
      </p>
    </form>
  </div>
</div>

<body>
</body>
</html>
