{% extends "base.html" %}

{% block nav %}
<li class="active"><a href="../manage/">Manage Licenses</a></li>
{% endblock %}

{% block title %}
<h1>MANAGE LICENSES</h1><br /><br />
{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span12">
		  <ul id="manage-tabs" class="nav nav-tabs">
		    <li class="active"><a href="#requested" data-toggle="tab">Requested &amp; Current Licenses</a></li>
		    <li><a href="#groups" data-toggle="tab">Groups</a></li>
		    <li><a href="#chartstrings" data-toggle="tab">Chartstrings</a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="requested">
		      <h2 class="manage-tab">REQUESTED &amp; CURRENT LICENSES</h2>
		      <hr>
		      {% for app, user in users_of_app.items %}
		      	<h3>{{ app.app_name }}</h3>
		        <h4>Requested</h4>
		      	{% for user_info, requested, downloadable, chartstrings in user %}
			      	{% if requested %} 
				      		<li>{{ user_info.name }}</li>
							<form name="approve" method="post" action="/manage/">
								{% csrf_token %}
								<label>Choose Chartstring</label>
								<select name="chartstring">
									{% for chartstring in chartstrings %}
									<option value="{{ chartstring.chartstring }}">{{ chartstring.nickname }}</option>
									{% endfor %}
								</select>
								<input type="hidden" name="app" value="{{ app.href_name }}"></input>
								<input type="hidden" name="user" value="{{ user_info.SID }}"></input>
								</br></br>
								<input type="submit"
								       value="Approve License"
								       name="approve"
								       class="btn btn-primary"></input>
							</form>
				     {% endif %}
		      	{% endfor %}
		      	</br>
		      	<h4>Licensed</h4>
		      	{% for u, requested, downloadable, c in user %}
			      	{% if downloadable %}
				      	<li>{{ u.name }}</li>
				      	<form name="revoke" method="post" action="/manage/">
								{% csrf_token %}
								<input type="hidden" name="app" value="{{ app.href_name }}"></input>
								<input type="hidden" name="user" value="{{ u.SID }}"></input>
								<input type="submit"
								       value="Revoke License"
								       name="revoke"
								       class="btn btn-danger btn-mini"></input>
							</form>
				     {% endif %}
		      	{% endfor %}
		      	<hr>
		      {% endfor %}
		    </div>
		    <div class="tab-pane" id="groups">
		      <h2 class="manage-tab">MY GROUPS</h2>
		      {% for group, group_info in all_members.items %}
		      	{% for group_name, members in group_info %}
		      		<h3>{{ group_name }}</h3>
			      <ul>
			      	{% for member in members %}
			      	<li><a href="#{{ member.SID }}" data-toggle="modal">{{ member.name }} (SID: {{ member.SID }})</a></li>
			      	{% endfor %}
			      </ul>
		      	{% endfor %}
		      {% endfor %}
		    </div>
		   	<div class="tab-pane" id="chartstrings">
		      <h2 class="manage-tab">CHARTSTRINGS</h2><hr>
		      <button type="button" class="btn btn-primary" data-toggle="modal" href="#new" value="Add New Chartstring">Add New Chartstring</button>
		      </br><hr>
		      <ul>
		      	{% for group, chartstring_info in all_chartstrings.items %}
		      		{% for group_name, chartstrings in chartstring_info %}
		      			{% for chartstring in chartstrings %}
		      				<li><a href="#{{ chartstring.chartstring }}" data-toggle="modal">{{ chartstring.nickname }}</a>: {{ chartstring.chartstring }}</li>
		      			{% endfor %}
		      		{% endfor %}
		      	{% endfor %}
		      </ul>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="modal fade hide manage" id="new">
 <div class="modal-header">
    	<h3>Add New Chartstring</h3>
    	<button type="button" class="close" data-dismiss="modal">×</button>
  	</div>
  	<div class="modal-body">
	<form name="new" method="post" action="/manage/">
		{% csrf_token %}
		<label>Chartstring Name: </label>
		<input type="text" name="nickname"></input>
		<label>Group: </label>
		<select name="group">
			{% for group in groups %}
			<option value="{{ group.name }}">{{ group.name }}</option>
			{% endfor %}
		</select>
		<label>Chartstring</label>
		<input type="text" name="chartstring"></input>
		
		<label> Budget: </label>
		<input type="text" name="amount"></input>

		</br></br>
		<input type="submit"
		       value="Add Chartstring"
		       name="new"
		       class="btn btn-primary"></input>
	</form>
    </div>
 </div>

{% for group, group_info in all_members.items %}
	{% for group_name, members in group_info %}
		{% for member in members %}
		 <div class="modal fade hide manage" id="{{ member.SID }}">
		    <div class="modal-header">
		    	<h3>{{ member.name }}</h3>
		    	<button type="button" class="close" data-dismiss="modal">×</button>
		  	</div>
		  	<div class="modal-body">
		  		<h4>Requests</h4>

		  		<h4>Licenses</h4>
		  		<table class="table table-striped">
		  			<tbody>
				  		{% for chartstring, chartstring_info in chart_history.items %}
				  			{% for item in chartstring_info %}
				  				{% if item.user.name == member.name %}
				  				<tr>
								<td>{{ item.app.app_name }}</td>
								<td>{{ item.date }}</td>
								<td>${{ item.app.price }}</td>
								</tr>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
		    </div>
		 </div>
		{% endfor %}
	{% endfor %}
{% endfor %}

{% for chartstring, chartstring_info in chart_history.items %}
    <div class="modal fade hide manage" id="{{ chartstring.chartstring }}">
	<div class="modal-header">
	   	<h3>{{ chartstring.nickname }} History</h3>
		    	<button type="button" class="close" data-dismiss="modal">×</button>
 	</div>
  	<div class="modal-body">
		<table class="table table-striped">
	        <thead>
	          <tr>
	            <th>User</th>
	            <th>Description</th>
		    <th>Date Approved</th>
	            <th>Price</th>
	          </tr>
	        </thead>
	        <tbody>

	       		{% for item in chartstring_info %}	
				<tr>
					<td>{{ item.user.name }}</td>
					<td>{{ item.app.app_name }}</td>
					<td>{{ item.date }}</td>
					<td>${{ item.app.price }}</td>
				</tr>
				{% endfor %}

				<tr>
					<td></td>
	        		<td><strong>Starting Budget: </strong>{{ chartstring.budget }}</td>
	        		<td><strong>Remaining Budget: </strong>{{ chartstring.remaining }}</td>
	        		
	        	</tr>  

	        </tbody>
	    </table>

	</div>
     </div>
{% endfor %}
{% endblock %}

{% block javascript %}{% endblock %}
