{% extends "base.html" %}
{% load dict_lookup %}

{% block nav %}
<li class="active"><a href="../my-apps/">My Apps</a></li>
<li><a href="../browse/">Browse Apps</a></li>
{% endblock %}

{% block title %}
<h1>MY APPS</h1>
<h2>Browse all your available applications listed below</h2>
<div class="pull-right">
    <form class="form-search">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn">Search</button>
    </form>
</div>
{% endblock %}

{% block apps %}
  <div class="row-fluid">
    <div class="span12">
      <div class="well hero-unit">
        <div class="row-fluid">

{% for app, state in app_display.items %}
<a href="#{{ app }}"
   data-toggle="modal"
   class="{{ state }}"
   {% if 'app-btn-' in state %} alt="The status of {{ app }} is available to be requested."
   {% elif 'requested-btn-' in state %} alt="The status of {{ app }} is being requested."
   {% elif 'downloadable-btn-' in state %} alt="The status of {{ app }} is now ready to be downloaded."
   (% else %} alt="The status of {{ app }} is not recognizable."
   {% endif %}>
   {{ app_info|lookup:app }}</a>
{% endfor %}
{% if no_apps %}<h3>There are currently no apps to display.</h3>{% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% for app, state in app_display.items %}
{% with info=app_info|lookup:app %}
<div class="modal fade hide" id="{{ app }}">
	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal">×</button>
	    	<h3><img src="../static/img/matlab-icon-small.png" />{{ info.app_name }}</h3>						
			<button type="button" class="request-btn" DISABLED>Autorization Pending</button>
<!--                      class="request-btn" {% if 'requested-btn' in state or 'downloadable-btn' in state %}DISABLED{% endif %}> -->
	</div>

  	<div class="modal-body">
		<p>{{ info.description }}</p>
    </div>
</div>
{% endwith %}
{% endfor %}
{% endblock %}

{% block javascript %}{% endblock %}

