<html>
<head>
    <meta charset="UTF-8">
    <title>BearApps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BearApps">
    <meta name="author" content="EECS IDSG">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-responsive.css" />
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="../">BearApps</a>
        </div>
    </div>
</div>

<div class="container-fluid content">
    <div class="row-fluid span12 well hero-unit">
        <h1>REGISTRATION</h1>

        <form method="POST" class="register-form" action="/register/">
          {% csrf_token %}
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="username">Username </label>
              <div class="controls">
                <input type="text" class="input" id="username" name="username">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="SID">SID </label>
              <div class="controls">
                <input type="text" class="input" id="SID" name="SID">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="password">Password </label>
              <div class="controls">
                <input type="password" class="input" id="password" name="password">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="password">Verify Password </label>
              <div class="controls">
                <input type="password" class="input" id="verify-password" name="verify-password">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="group">Select Groups </label>
              <div class="controls">
                <select name="group" >
                  <option id="group">Select Group</option>
                  {% for group in groups %}
                  <option id="group" value="{{ group.name }}">{{ group.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="status">Status </label>
              <div class="controls">
                <input type="radio" name="status" value="undergrad"> Undergraduate</input><br />
                <input type="radio" name="status" value="grad"> Graduate</input><br />
                <input type="radio" name="status" value="professor"> Professor</input><br />
                <input type="radio" name="status" value="rso"> RSO</input><br />
              </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Register</button>
                <button class="btn">Cancel</button>
            </div>
          </fieldset>
        </form>

    </div>
</div>


</body>

<!-- Le javascript
================================================== -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap-transition.js"></script>
<script src="../static/js/bootstrap-alert.js"></script>
<script src="../static/js/bootstrap-modal.js"></script>
<script src="../static/js/bootstrap-dropdown.js"></script>
<script src="../static/js/bootstrap-scrollspy.js"></script>
<script src="../static/js/bootstrap-tab.js"></script>
<script src="../static/js/bootstrap-tooltip.js"></script>
<script src="../static/js/bootstrap-popover.js"></script>
<script src="../static/js/bootstrap-button.js"></script>
<script src="../static/js/bootstrap-collapse.js"></script>
<script src="../static/js/bootstrap-carousel.js"></script>
<script src="../static/js/bootstrap-typeahead.js"></script>

</html>
