{% extends "base.html" %}

{% block nav %}
<li><a href="../my-apps/">My Apps</a></li>
<li class="active"><a href="../browse/">Browse Apps</a></li>
{% endblock %}

{% block title %}
BROWSE APPS
{% endblock %}

{% block apps %}
<a href="#matlab" data-toggle="modal" class="{{ icon_state }}">MatLab</a>
<a href="#matlabtoolbox" data-toggle="modal" class="{{ icon_state2 }}">MatLab + Toolbox</a>
<a href="#maya" data-toggle="modal" class="app-btn-maya">Maya</a>
<a href="#creative" data-toggle="modal" class="app-btn-cs">Adobe Creative Suite</a>
<a href="#msoffice" data-toggle="modal" class="app-btn-office">Microsoft Office</a>
{% endblock %}

{% block content %}

<div class="modal fade hide" id="matlab">
  <div class="modal-header">
        <form method="post" action="/browse/">
         {% csrf_token %}
         <input type="hidden" name="user" value="Elvis Q. Plutonium">
         <input type="hidden" name="uid" value="12345678">
         <input type="hidden" name="app" value="Matlab">
         <input type="submit" value="{{ button_value }}" class="request-btn" {{ form_value }}>
        </form>
    	<button type="button" class="close" data-dismiss="modal">×</button>
    	<h3><img src="../static/img/matlab-icon-small.png" />MatLab</h3>
	</div>

  	<div class="modal-body">
  		<ul id="matlab-tabs" class="nav nav-tabs">
  			<li class="active">
  				<a href="#descrip" data-toggle="tab">Description</a>
  			</li>
  			<li>
  				<a href="#requirements" data-toggle="tab">System Requirements</a>
  			</li>
  			<li>
  				<a href="#obtain" data-toggle="tab">How to Obtain MatLab</a>
  			</li>
  		</ul>

  		<div class="tab-content" id="matlab-tabs-content">
			<div class="tab-pane fade active in" id="descrip">
		  		<h2>Description</h2>
				<p>MATLAB is a programming environment for algorithm development, data analysis, visualization, and numerical computation. Using MATLAB, you can solve technical computing problems faster than with traditional programming languages, such as C, C++, and Fortran.You can use MATLAB in a wide range of applications, including signal and image processing, communications, control design, test and measurement, financial modeling and analysis, and computational biology. For a million engineers and scientists in industry and academia, MATLAB is the language of technical computing.</p>
			</div>
			<div class="tab-pane fade" id="requirements">
		  		<h2>System Requirements</h2>
				<p>Windows: Windows 7 SP1, Vista SP 2, XP SP3, XP x64 Edition
				SP2, Server 2008 SP2 or R2, Server 2003 R2 SP2. Any Intel or
				AMD x86 processor supporting SSE2 instruction set. 1 GB for
				MATLAB only, 3-4 GB for typical installations. At least 1 GB RAM.<br /><br />

                Linux: Qualified Distributions: Ubuntu 10.4 LTS, 11.04,
                11.10. Red Hat Enterprise Linux 5.x and 6.x. SUSE Linux
                Enterprise Desktop 11.x. Debian 6.x. Any Intel or AMD x86
                processor supporting SSE2 instruction set. 1 GB for MATLAB
                  only, 3-4 GB for a typical installation. At least 1 GB RAM.<br /><br />

                Mac: Mac OS X 10.7 (Lion) or 10.6.4+ (Snow leopard). All
                Intel-based Macs with an Intel Core 2 or later. 1 GB for
                MATLAB only, 3-4 GB for a typical installation. At least 1 GB RAM.</p>
			</div>
			<div class="tab-pane fade" id="obtain">
		  		<h2>How to Obtain MatLab</h2>
				<p>Currently available by chart string owner only. Use the
				request button above to request a copy. Purchasing options
				are available direct from vendor.</p>
			</div>
		</div>
    </div>
</div>


<div class="modal fade hide" id="matlabtoolbox">
  <div class="modal-header">
        <!-- <button type="button" class="request-btn">REQUEST</button> -->
        <form method="post" action="/browse/">
         {% csrf_token %}
         <input type="hidden" name="user" value="Elvis Q. Plutonium">
         <input type="hidden" name="uid" value="12345678">
         <select name="toolbox">
           <option value="">Symbolic Math Toolbox</option>
         </select>
         <input type="hidden" name="app" value="Matlab + Toolbox">
         <input type="submit" value="{{ button_value4 }}" class="request-btn" {{ form_value4 }}>
        </form>
    	<button type="button" class="close" data-dismiss="modal">×</button>
    	<h3><img src="../static/img/matlab-icon-small.png" />MatLab + Symbolic
    	Math Toolbox</h3>
	</div>

  	<div class="modal-body">
  		<ul id="matlabtoolbox-tabs" class="nav nav-tabs">
  			<li class="active">
  				<a href="#descrip2" data-toggle="tab">Description</a>
  			</li>
  			<li>
  				<a href="#requirements2" data-toggle="tab">System Requirements</a>
  			</li>
  			<li>
  				<a href="#obtain2" data-toggle="tab">How to Obtain MatLab + Toolbox</a>
  			</li>
  		</ul>

  		<div class="tab-content" id="matlabtoolbox-tabs-content">
			<div class="tab-pane fade active in" id="descrip2">
		  		<h2>Description</h2>
				<p>MATLAB is a programming environment for algorithm
				development, data analysis, visualization, and numerical
				computation. Using MATLAB, you can solve technical computing
				problems faster than with traditional programming languages,
				such as C, C++, and Fortran.You can use MATLAB in a wide range
				of applications, including signal and image processing,
				communications, control design, test and measurement,
				financial modeling and analysis, and computational biology.
				For a million engineers and scientists in industry and
				  academia, MATLAB is the language of technical computing.
                </p>
			</div>
			<div class="tab-pane fade" id="requirements2">
		  		<h2>System Requirements</h2>
				<p>Windows: Windows 7 SP1, Vista SP 2, XP SP3, XP x64 Edition
				SP2, Server 2008 SP2 or R2, Server 2003 R2 SP2. Any Intel or
				AMD x86 processor supporting SSE2 instruction set. 1 GB for
				MATLAB only, 3-4 GB for typical installations. At least 1 GB RAM.<br /><br />

                Linux: Qualified Distributions: Ubuntu 10.4 LTS, 11.04,
                11.10. Red Hat Enterprise Linux 5.x and 6.x. SUSE Linux
                Enterprise Desktop 11.x. Debian 6.x. Any Intel or AMD x86
                processor supporting SSE2 instruction set. 1 GB for MATLAB
                  only, 3-4 GB for a typical installation. At least 1 GB RAM.<br /><br />

                Mac: Mac OS X 10.7 (Lion) or 10.6.4+ (Snow leopard). All
                Intel-based Macs with an Intel Core 2 or later. 1 GB for
                MATLAB only, 3-4 GB for a typical installation. At least 1 GB RAM.</p>
			</div>
			<div class="tab-pane fade" id="obtain2">
		  		<h2>How to Obtain MatLab + Toolbox</h2>
				<p>Currently available by chart string owner only. Use the
				request button above to request a copy. Purchasing options
				are available direct from vendor.</p>
			</div>
		</div>
    </div>
</div>

<div class="modal fade hide" id="maya">
  <div class="modal-header">
        <button type="button" class="request-btn">REQUEST</button>
    	<button type="button" class="close" data-dismiss="modal">×</button>
    	<h3><img src="../static/img/matlab-icon-small.png" />Autodesk Maya</h3>
	</div>

  	<div class="modal-body">
  		<ul id="maya-tabs" class="nav nav-tabs">
  			<li class="active">
  				<a href="#descrip3" data-toggle="tab">Description</a>
  			</li>
  			<li>
  				<a href="#requirements3" data-toggle="tab">System Requirements</a>
  			</li>
  			<li>
  				<a href="#obtain3" data-toggle="tab">How to Obtain Maya</a>
  			</li>
  		</ul>

  		<div class="tab-content" id="matlab-tabs-content">
			<div class="tab-pane fade active in" id="descrip3">
		  		<h2>Description</h2>
				<p>Autodesk® Maya® 3D animation software delivers a
				comprehensive creative feature set with tools for animation,
				modeling, simulation, rendering, matchmoving, and compositing
				on a highly extensible production platform. For visual
				effects, game development, post production, or other 3D
				animation projects, Maya offers toolsets to help meet
				demanding production requirements. Maya 2013 adds tools that
				help facilitate parallel workflows and complexity handling;
				powerful new creative toolsets; and productivity enhancements
				  to help you create higher quality content quickly.
                </p>
			</div>
			<div class="tab-pane fade" id="requirements3">
		  		<h2>System Requirements</h2>
				<p> For 64-bit Autodesk Maya 2013:<br />
                Microsoft Windows 7 Professional (SP1), Microsoft Windows XP Professional x64 Edition (SP2), Apple® Mac OS® X 10.7.x, Red Hat® Enterprise Linux® 6.0 WS, or Fedora™ 14 operating system
Windows and Linux: Intel Pentium 4 or AMD Athlon processor with SSE3 instruction set support (or higher)
Macintosh® computer: Macintosh computer with Intel-based 64-bit processor
4 GB RAM
10 GB free hard drive space
Certified hardware-accelerated OpenGL graphics card
3-button mouse with mouse driver software
DVD-ROM drive
                  Internet Explorer 8 or higher, Safari, or Firefox web browser.</p>
			</div>
			<div class="tab-pane fade" id="obtain3">
		  		<h2>How to Obtain Maya</h2>
				<p>Currently available by chart string owner only. Use the
				request button above to request a copy. Purchasing options
				are available direct from vendor.</p>
			</div>
		</div>
    </div>
</div>

<div class="modal fade hide" id="creative">
  <div class="modal-header">
        <button type="button" class="request-btn">REQUEST</button>
    	<button type="button" class="close" data-dismiss="modal">×</button>
    	<h3><img src="../static/img/matlab-icon-small.png" />Adobe Creative
    	Suite 6</h3>
	</div>

  	<div class="modal-body">
  		<ul id="creative-tabs" class="nav nav-tabs">
  			<li class="active">
  				<a href="#descrip4" data-toggle="tab">Description</a>
  			</li>
  			<li>
  				<a href="#requirements4" data-toggle="tab">System Requirements</a>
  			</li>
  			<li>
  				<a href="#obtain4" data-toggle="tab">How to Obtain Adobe CS6</a>
  			</li>
  		</ul>

  		<div class="tab-content" id="matlab-tabs-content">
			<div class="tab-pane fade active in" id="descrip4">
		  		<h2>Description</h2>
				<p>Adobe® Creative Suite® 6 software delivers a whole new
				experience for digital media creation, enabling you to work
				lightning fast and reach audiences wherever they may be. Now,
				for the first time, CS applications are also available through
				Adobe Creative Cloud™, giving you the flexibility to download
				and install them at any time. Plus, access additional
				applications, publishing services, and new products and
				  features as they are released.
                </p>
			</div>
			<div class="tab-pane fade" id="requirements4">
		  		<h2>System Requirements</h2>
				<p>WINDOWS:<br /> Intel® Pentium® 4 or AMD Athlon® 64 processor with 64-bit support; Intel Core®2 Duo or AMD Phenom® II processor required for Adobe® Premiere® Pro, After Effects®, and Encore®; Intel Core i7 processor required for Adobe SpeedGrade™
Microsoft® Windows® XP* with Service Pack 3 or Windows 7 with Service Pack 1; Windows 7 with Service Pack 1 (64 bit) required for Adobe Premiere Pro, After Effects and Encore; Windows 7 with Service Pack 1 required for SpeedGrade
2GB of RAM (4GB recommended) for 32 bit; 4GB of RAM (8GB recommended) for 64 bit
14.5GB of available hard-disk space for installation; additional free space required during installation (cannot install on removable flash storage devices)
Additional disk space required for disk cache, preview files, and other working files (10GB recommended)
1280x900 display with 16-bit color and 512MB of VRAM; 1680x1050 display required, and second professionally calibrated viewing display recommended for SpeedGrade
OpenGL 2.0–capable system
Sound card compatible with ASIO protocol or Microsoft WDM/MME
DVD-ROM drive compatible with dual-layer DVDs (DVD+-R burner for burning DVDs; Blu-ray burner for creating Blu-ray Disc media)
Java™ Runtime Environment 1.6 (included)
Eclipse™ 3.7 (for plug-in installation of Adobe Flash® Builder®); the following distributions are supported: Eclipse IDE for Java EE and Java Developers, Eclipse Classic, Eclipse for PHP Developers
QuickTime 7.6.6 software required for QuickTime features, multimedia, and HTML5 media playback
Dedicated GPU card required for SpeedGrade (for optimal performance in SpeedGrade and for GPU-accelerated features in Adobe Premiere Pro and After Effects: NVIDIA Quadro 4000, 5000, or 6000 or other Adobe-certified GPU card with at least 1GB of VRAM recommended); visit www.adobe.com/products/premiere/extend.html for supported cards
Optional: Tangent CP200 family or Tangent Wave control surface for SpeedGrade
Optional: For SDI output, NVIDIA Quadro SDI Output card required for SpeedGrade
Optional: 7200 RPM hard drive (multiple fast disk drives, preferably RAID 0 configured, recommended) for video products
This software will not operate without activation. Broadband Internet
                  connection and registration are required for software
                  activation, validation of subscriptions, and access to
                  online services.† Phone activation is not available.
                  <br />MAC OS: <br />
                  Multicore Intel processor with 64-bit support
Mac OS X v10.6.8 or v10.7
4GB of RAM (8GB recommended)
15.5GB of available hard-disk space for installation; additional free space required during installation (cannot install on a volume that uses a case-sensitive file system or on removable flash storage devices)
Additional disk space required for disk cache, preview files, and other working files (10GB recommended)
1280x900 display with 16-bit color and 512MB of VRAM; 1680x1050 display required and second professionally calibrated viewing display recommended for Adobe SpeedGrade
OpenGL 2.0–capable system
DVD-ROM drive compatible with dual-layer DVDs (SuperDrive for burning DVDs; Blu-ray burner for creating Blu-ray Disc media)
Java Runtime Environment 1.6
Eclipse 3.7 Cocoa version (for plug-in installation of Adobe Flash Builder; the following distributions are supported: Eclipse IDE for Java EE and Java Developers, Eclipse Classic, Eclipse for PHP Developers
QuickTime 7.6.6 software required for QuickTime features, multimedia, and HTML5 media playback
Dedicated GPU card recommended (for optimal performance in SpeedGrade and for GPU-accelerated features in Adobe Premiere Pro and After Effects: NVIDIA Quadro 4000 or other Adobe-certified GPU card with at least 1GB of VRAM recommended); visit www.adobe.com/products/premiere/extend.html for supported cards
Optional: Tangent CP200 family or Tangent Wave control surface for SpeedGrade
Optional: 7200 RPM hard drive (multiple fast disk drives, preferably RAID 0 configured, recommended) for video products
This software will not operate without activation. Broadband Internet
                  connection and registration are required for software
                  activation, validation of subscriptions, and access to
                  online services.† Phone activation is not available.
                </p>
			</div>
			<div class="tab-pane fade" id="obtain4">
		  		<h2>How to Obtain Adobe CS6</h2>
				<p>Currently available by chart string owner only. Use the
				request button above to request a copy. Purchasing options
				are available direct from vendor.</p>
			</div>
		</div>
    </div>
</div>

<div class="modal fade hide" id="msoffice">
  <div class="modal-header">
        <button type="button" class="request-btn">REQUEST</button>
    	<button type="button" class="close" data-dismiss="modal">×</button>
    	<h3><img src="../static/img/matlab-icon-small.png" />Microsoft Office</h3>
	</div>

  	<div class="modal-body">
  		<ul id="office-tabs" class="nav nav-tabs">
  			<li class="active">
  				<a href="#descrip5" data-toggle="tab">Description</a>
  			</li>
  			<li>
  				<a href="#requirements5" data-toggle="tab">System Requirements</a>
  			</li>
  			<li>
  				<a href="#obtain5" data-toggle="tab">How to Obtain Microsoft Office</a>
  			</li>
  		</ul>

  		<div class="tab-content" id="matlab-tabs-content">
			<div class="tab-pane fade active in" id="descrip5">
		  		<h2>Description</h2>
				<p>Microsoft Office 2010 offers rich and powerful ways to
				deliver your best work at the office, home, or school. Grab
				your audience's attention and inspire them with your ideas
				visually. Create results with people at the same time and stay
				connected to your files across the town or around the world.
				With Office 2010, you're in control of getting things done and
				  delivering amazing results according to your schedule.
                </p>
			</div>
			<div class="tab-pane fade" id="requirements5">
		  		<h2>System Requirements</h2>
				<p>500 MHz or faster processor, 256 MB RAM, 3.0 GB Available
				disk space, 1024x576 or higher resolution monitor, Windows XP
				SP3; Windows 7 or Windows vista SP1, Windows Server 2003,
				2008. IE 6 or later, 32 bit only. IE7 or later required to
				receive broadcast presentations. Graphics hardware
				acceleration requires a DirectX 9.0c graphics card with 64 MB
				or more video memory. Multi-touch feature require Windows 7
				and a touch-enabled device. </p>
			</div>
			<div class="tab-pane fade" id="obtain5">
		  		<h2>How to Obtain Office</h2>
				<p>Currently available by chart string owner only. Use the
				request button above to request a copy. Purchasing options
				are available direct from vendor.</p>
			</div>
		</div>
    </div>
</div>

{% endblock %}

<script>
$('matlab-tabs').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})

$('matlabtoolbox-tabs').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
}

$('maya-tabs').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
}

$('creative-tabs').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
}

$('office-tabs').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
}
</script>
